[submodule "config/mpv/shaders"]
	path = config/mpv/shaders
	url = https://github.com/bjin/mpv-prescalers.git
	ignore = dirty
[submodule "config/mpv/scripts"]
	path = config/mpv/scripts
	url = https://github.com/wm4/mpv-scripts.git
	ignore = dirty