._*
*~
*-worksite
\#*\#
*.pyc
.DS_Store

config/configstore/
config/fontforge/
config/gnupg/private-keys*
config/gnupg/*.gpg
config/gnupg/*_seed
config/karabiner/assets
config/karabiner/automatic_backups/
config/mbsync/config
config/subversion/
